.layout {
  
}

.section {
  margin-bottom: 60px;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}