.section {
  margin-bottom: 30px;
  @apply px-3 text-center;
}

.layout_section {
  margin-bottom: 60px;
}

.services {
  @apply mx-3 text-center;
}

.services_div {
  margin-bottom: 30px;
  @apply px-6 py-12 border border-red-300 rounded-md shadow-sm;
}

.services_img {
  @apply w-1/4 mx-auto mb-6 p-3 bg-red-100 rounded-full;
}

.testi_img_div {
  @apply relative;
}

.testi_img {
  @apply h-128 object-cover;
}

.testi_img_caption {
  @apply absolute bottom-0 left-0 px-3 py-6 text-white;
}

.caption_btn {
  @apply flex items-center my-3 px-6 py-3 rounded-lg font-semibold;
}

.testi_caption_div {
  padding: 30px 0 60px 0;
  @apply px-3 bg-red-100;
}

.testi_caption_section {
  margin-bottom: 30px;
}

.testi_caption_btn {
  @apply px-6 py-2 bg-red-400 rounded-full uppercase text-white;
}

@screen lg {
  .services {
    max-width: 1024px;
    @apply grid grid-cols-3 col-gap-6 mx-auto text-center;
  }
  .testimonial {
    @apply flex relative;
  }
  .testi_img_div {
    @apply w-1/2 h-128;
  }
  .testi_img_caption {
    @apply absolute bottom-0 left-0 px-12 py-6 text-white;
  }
  .testi_caption_div {
    padding: 60px 0 60px 0;
    @apply w-1/2 h-128 px-6 bg-red-100;
  }
  .testi_caption_section {
    margin-bottom: 45px;
  }
}